# Practical example of comparison or relational operators in Python

Trainer: Md. Babul Miah
    
Assistant director of Research Society (https://researchsociety20.org/teacher-trainer/)
    
email: babul.bsmrstu16@gmail.com, babul@jbnu.ac.kr, assistant.director@researchsociety20.org

& 

Trainer: Md. Jalal Uddin
    
Founder and director of Research Society (https://researchsociety20.org/founder-and-director/)
    
email: dmjalal90@gmail.com, 20205103002@nuist.edu.cn, founder-and-director@researchsociety20.org

# Define variable

In [1]:
a = 5
b = 6

#Ctrl + Enter = execute

# Comparison or relational operators by Syntax

In [2]:
print('If a is greater than b =',a>b)

print('If a is less than b =',a<b)

print('If a is equal to b =',a==b)

print('If a is not equal to b =',a!=b)

print('If a is greater than or equal to b =',a>=b)

print('If a is less than or equal to b =',a<=b)

If a is greater than b = False
If a is less than b = True
If a is equal to b = False
If a is not equal to b = True
If a is greater than or equal to b = False
If a is less than or equal to b = True

# Comparison or relational operators by Function

In [3]:
import operator as op

print('If a is greater than b =',op.gt(a,b))

print('If a is less than b =',op.lt(a,b))

print('If a is equal to b =',op.eq(a,b))

print('If a is not equal to b =',op.ne(a,b))

print('If a is greater than or equal to b =',op.ge(a,b))

print('If a is less than or equal to b =',op.le(a,b))

If a is greater than b = False
If a is less than b = True
If a is equal to b = False
If a is not equal to b = True
If a is greater than or equal to b = False
If a is less than or equal to b = True

# Example for real data

We will monitor drought (water scarcity) for Rangpur station in Bangladesh from 1994 to 1995

The example has been adapted from Uddin et al. (2020). https://link.springer.com/article/10.1007/s12517-020-05302-0

In [4]:
import pandas as pd

dataset = pd.read_excel('drought_data.xlsx')

dataset.head(156)

    Year and month       SPI
0          1983-01 -0.285149
1          1983-02 -0.299666
2          1983-03 -0.229297
3          1983-04 -0.382996
4          1983-05 -0.060437
..             ...       ...
151        1995-08 -1.246152
152        1995-09  0.137164
153        1995-10  0.033580
154        1995-11  0.230198
155        1995-12  0.266236

[156 rows x 2 columns]

In [5]:
SPI = dataset.SPI[133:156]   # 1994-1995

SPI.head(12)

133    0.289110
134    0.291538
135    0.238511
136    0.236418
137   -0.093880
138   -0.739471
139   -1.712723
140   -2.163714
141   -2.230607
142   -2.245852
143   -2.300033
144   -2.476514
Name: SPI, dtype: float64

# Comparison or relational operators by Syntax and Function

In [6]:
print('Extreme drought   = \n',SPI<=-2)

Threshold = -2
print('Extreme drought   = \n',op.le(SPI,Threshold))

Extreme drought   =
 133    False
134    False
135    False
136    False
137    False
138    False
139    False
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
149     True
150     True
151    False
152    False
153    False
154    False
155    False
Name: SPI, dtype: bool
Extreme drought   =
 133    False
134    False
135    False
136    False
137    False
138    False
139    False
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
149     True
150     True
151    False
152    False
153    False
154    False
155    False
Name: SPI, dtype: bool

# Monitor extreme drought for whole years and create a dataframe as extreme_drought

In [7]:
extreme_drought = dataset[dataset['SPI']<=-2]

extreme_drought.head()

    Year and month       SPI
140        1994-09 -2.163714
141        1994-10 -2.230607
142        1994-11 -2.245852
143        1994-12 -2.300033
144        1995-01 -2.476514