# Practical example of logical operators in Python

Trainer: Md. Babul Miah
    
Assistant director of Research Society (https://researchsociety20.org/teacher-trainer/)
    
email: babul.bsmrstu16@gmail.com, babul@jbnu.ac.kr

& 

Trainer: Md. Jalal Uddin
    
Founder and director of Research Society (https://researchsociety20.org/founder-and-director/)
    
email: dmjalal90@gmail.com, 20205103002@nuist.edu.cn

# define variable

In [1]:
a = 5

# Syntax

Python's "and", "or" and "not" logical operators are designed to work with "scalars". 

Read more: https://stackoverflow.com/questions/21415661/logical-operators-for-boolean-indexing-in-pandas

In [2]:
print("a and a is = ", a<10 and a>0)    

print("a and a is = ", a>10 and a>0)

print("a or a is  = ", a>10 or a>0)

print("a or a is  = ", a>10 or a<0)

print("not a is   = ", not(a>10))

a and a is =  True
a and a is =  False
a or a is  =  True
a or a is  =  False
not a is   =  True

# Function is suitable for both scalar and vector data.

In [3]:
import numpy as np

print("a and a is = ",np.logical_and(a<10,a>0))

print("a or a is  = ",np.logical_or(a>10, a>0))

print("not a is   = ",np.logical_not(a>10))

a and a is =  True
a or a is  =  True
not a is   =  True

Note: you can also use operator.and_, operator.or_
    
https://docs.python.org/3/library/operator.html#operator.and_

# Example for real data

We will monitor drought (water scarcity) for Rangpur station in Bangladesh from 1994 to 1995

The example has been adapted from Uddin et al. (2020). https://link.springer.com/article/10.1007/s12517-020-05302-0

In [4]:
import pandas as pd
import numpy as np

dataset = pd.read_excel('drought_data.xlsx')

dataset.head()

  Year and month       SPI
0        1983-01 -0.285149
1        1983-02 -0.299666
2        1983-03 -0.229297
3        1983-04 -0.382996
4        1983-05 -0.060437

In [5]:
SPI = dataset.SPI[133:156]   # 1994-1995

SPI.head()

133    0.289110
134    0.291538
135    0.238511
136    0.236418
137   -0.093880
Name: SPI, dtype: float64


The climate was wet if the SPI values are greater than 1 and less than 2. Similarly, if the SPI values are less than 1 and less than equal -2, the climate was dry.

In [6]:
wet_climate = np.logical_and(SPI.gt(1), SPI.lt(2))

print("wet climate = \n", wet_climate)

wet climate =
 133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
Name: SPI, dtype: bool

In [7]:
dry_climate = np.logical_or(SPI.lt(1), SPI.le(-2))

print("dry climate = \n",dry_climate)

dry climate =
 133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144    True
145    True
146    True
147    True
148    True
149    True
150    True
151    True
152    True
153    True
154    True
155    True
Name: SPI, dtype: bool

In [8]:
print("not extreme wet climate = \n", np.logical_not(SPI>2))

not extreme wet climate =
 133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144    True
145    True
146    True
147    True
148    True
149    True
150    True
151    True
152    True
153    True
154    True
155    True
Name: SPI, dtype: bool

# create a datafram for wet climate and dry climate

In [9]:
df_wet_climate = dataset[np.logical_and(dataset['SPI'].gt(1), dataset['SPI'].lt(2))]

df_wet_climate.head()

   Year and month       SPI
17        1984-06  1.477008
18        1984-07  1.814248
19        1984-08  1.753462
29        1985-06  1.541693
30        1985-07  1.540050

In [10]:
df_dry_climate = dataset[np.logical_and(dataset['SPI'].lt(1), dataset['SPI'].le(-2))]

df_dry_climate.head()

    Year and month       SPI
140        1994-09 -2.163714
141        1994-10 -2.230607
142        1994-11 -2.245852
143        1994-12 -2.300033
144        1995-01 -2.476514